.App {
  background-color: #eeeeee;
  min-height: 40rem;
  max-width: 120rem;
  font-family: sans-serif;
}
.all{
    width:90rem;
    margin-left:50px;
}
.intro {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description {
  color: #00c853;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
}

.progress_dots {
  flex: 1;
  border-width: 8px;
  border-style: dotted none none none;
  color: #bdbdbd;
}

.dot {
  height: 30px;
  width: 30px;
  border: 2px solid;
  border-color: #bdbdbd;
  border-radius: 50%;
  display: inline-block;
  background-color: #eeeeee;
  margin: 0 20px;
}
.text-description1 {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first_name {
  margin-bottom: 10px;
}
.first_date {
  margin-top: 0;
}

.text-description2 {
    position: absolute;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 200px;
    margin-left:-60px;
  }

.second_name {
  margin-bottom: 10px;
}

.address {
  margin-top: 0px;
  margin-bottom: 10px;
}
.state {
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.text-description3 {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:200px;
    margin-left:-60px;
  }
.third_name {
  margin-bottom: 10px;
}
.office {
  margin-top: 0;
}

.text-description4 {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:200px;
    margin-left: -60px;
  }

.fourth_name {
  margin-bottom: 10px;
}
.dot_container{
    position:relative;
}