.App{
    background-color: #eeeeee;
    min-height: 40rem;
    max-width: 120rem;

}
.intro{
    padding-top:10rem;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.description{
    color: #00c853;
}

.progress{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    
}
.dot_info {
    padding-top:2.5rem;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }

  .dotmini {
    height: 5px;
    width: 5px;
    border: 1px;
    border-radius: 50%;
    display: inline-block;
    background-color: #bdbdbd;
  }
  .dot {
    height: 20px;
    width: 20px;
    border: 2px solid;
    border-color: #bdbdbd;
    border-radius: 50%;
    display: inline-block;
    background-color: #eeeeee;
    margin-top: 1.5rem;
  }

.info_first{
    padding-top: 0.5rem;
    font-size: 1.3rem;
    
}
.info_first_date{
    padding-top: 0.5rem;
}

.info_second{
    padding-top: 0.5rem;
    font-size: 1.3rem;
}
.info_address{
    padding-top: 0.5rem;
}

.info_state{
    padding-top: 0.5rem;
}
.info_third{
    padding-top: 0.5rem;
    font-size: 1.3rem;
}

.info_office{
    padding-top: 0.5rem;
}
