.App {
  background-color: #eeeeee;
  min-height: 40rem;
  max-width: 100%;
  font-family: sans-serif;
}

.intro {
  text-align: center;
  padding-top: 10rem;
}
.description {
  color: #00c853;
}

.progress {
  display: flex;
  align-items: center;
  padding-right: 3rem;
  padding-top: 3rem;
  margin-left: 75px;
  margin-right: 75px;
}

.progress_dots {
  flex: 1;
  border-top: 8px dotted #bdbdbd;
}

.dot {
  height: 30px;
  width: 30px;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  background-color: #eeeeee;
  margin: 10px;
}
.text_description {
  position: absolute;
  width: 180px;
  text-align: center;
  left: -50px;
}

.dot_container {
  position: relative;
}

@media (max-width: 968px) {
  .progress {
    flex-direction: column;
    min-height: 500px;
    align-items: flex-start;
    padding-bottom: 75px;
  }
  .progress_dots {
    border-left: 3px dashed #bdbdbd;
    margin-left: 25px;
  }
  .text_description {
    text-align: left;
    left: 80px;
    top: 0;
  }
}
